{% extends "layout.html" %} {% block content %}
<title>グラフ</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script src="../static/js/timebarchart.js"></script>
<h1>棒グラフSample3</h1>
<input type="button" id="time2" value="時間">
<input type="button" id="day2" value="日">
<canvas id="myChart2" ></canvas>
<script>

  var myChart2;

  //初期表示
  changeTime();

  document.getElementById('time2').addEventListener('click', function() {

    if (myChart2) {
      myChart2.destroy();
    }
    changeTime();
  });

  document.getElementById('day2').addEventListener('click', function() {

    if (myChart2) {
      myChart2.destroy();
    }
    changeDay();
  });


</script>
{% endblock %}
