{% extends "layout.html" %} {% block content %}
<title>グラフ</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<h1>棒グラフ</h1>
<input type="button" value="line" onclick="changeBar();"></input>
<input type="button" value="bar" onclick="changeLine();"></input>
<canvas id="myChart"></canvas>
<script>
  var myChart;

  // 初期表示
  create("bar");

  function changeLine() {

    if (myChart) {
      myChart.destroy();
    }
    create("line");
  };

  function changeBar() {

    if (myChart) {
      myChart.destroy();
    }
    //myChart.type = "bar";
    //myChart.update();
    create("bar");
  };

  function create(graphType) {
      var ctx = document.getElementById("myChart");
      var chartData = {
          labels: [
              {% for item in labels %}
              "{{item}}",
              {% endfor %}],
          datasets: [
            {
              label: "Melon",
              data: {{ values }},
              backgroundColor: "#AACF52",
            },
            {
              label: "Yelow",
              data: {{ values }},
              backgroundColor: "#A64A97",
            },
          ],
    };

    var myChart = new Chart(ctx, {
          type: graphType,
          data:  chartData,
          options: {
              title: {
                  display: true,
                  text: 'sample'
              },
          }
      });
  };

</script>
{% endblock %}
