{% extends "layout.html" %} {% block content %}
<title>グラフ</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<h1>棒グラフ</h1>
<input type="button" value="time" onclick="changeTime();"></input>
<input type="button" value="day" onclick="changeDay();"></input>
<canvas id="myChart"></canvas>
<script>
  var myChart;

  // 初期表示
  create("time");

  function changeTime() {

    if (myChart) {
      myChart.destroy();
    }
    create("time");
  };

  function changeDay() {

    if (myChart) {
      myChart.destroy();
    }
    //myChart.type = "bar";
    //myChart.update();
    create("day");
  };

  function create(timeUnit) {
    var ctx = document.getElementById("myChart");
    var unit;
    var ddd;

    if (timeUnit === "time"){
      unit = [
            {% for item in labels1 %}
            "{{item}}",
            {% endfor %}];
      data = {{ values1 }}
    }
    else if(timeUnit === "day"){
      unit = [
            {% for item in labels2 %}
            "{{item}}",
            {% endfor %}];
      data = {{ values2 }};
    }
    else{
      unit = [
            {% for item in labels1 %}
            "{{item}}",
            {% endfor %}];
      data = {{ values1 }};
    }

    var chartData = {
        labels: unit,
        datasets: [
          {
            label: "Melon",
            data: data,
            backgroundColor: "#AACF52",
          },
        ],
    };

    var myChart = new Chart(ctx, {
          type: "bar",
          data:  chartData,
          options: {
              title: {
                  display: true,
                  text: 'sample'
              },
          }
      });
  };

</script>
{% endblock %}
